body {
	font-family: 'Arial', sans-serif;
}
h1, h2 {
	font-size: 2em;
	font-family: 'Arial', sans-serif;
	margin: 0.5em 0 0.25em 0;
}
p, li {
	font-size: 1.8em;
	line-height: 1.4em;
	margin: 1em 0;
}
legend {
	font-size: 2em;
	line-height: 1.4em;
}
header {
	overflow: hidden;
}
header h1, header h2 {
	float: left;
}
h2 {
	color: #572d2d;
	font-size: 3em;
}
section {
	overflow: hidden;
}
footer {
	padding: 1em;
}
footer p {
	font-size: 1em;
	text-align: center;
	color: #bbbbbb;
}
#page_header {
    background: #222;
    color: #fff;
    padding: 5px;
}
#page_header h1 {
    padding-top: 13px;
    margin: 0;
}
#page_header img {
    float: left;
    padding-right: 5px;
}
#wrapper {
	margin: 30px auto;
    background: #fff;
    width: 90%;
    padding: 10px;
}
#suggested_markets, #currently_trading {
	width: 50%;
	height: 400px;
	float: left;
}
#page_footer {
    line-height: 1em;
}

button {
    border: none;
    background: none;
    background-color: #78b23f;
    padding: 8px 20px;
    font-size: 16px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #608e32;
}
input[type=password],
input[type=text] {
    border: 2px solid rgba(0,0,0,0.2);
    padding: 10px;
    background: #fff;
    margin: 0 0 10px 0;
}

table {
   width: 800px;
   font-size: 12px;
}

#feeds {
   clear: both;
}
#interface label {
    font-size: 1.8em;
}

#feeds {
   margin: 20px 0;
}

.twitter-tweets td {
   padding: 10px 0;
}

.streaming {
   margin: 20px 0;
   display: block;
}

#details .panel {
   width: 50%;
   height: 400px;
   float: left;
   overflow: hidden;
}
.sentiment-pie {
    height: 250px;
}